<div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong>Elements
                </div>
                <div class="card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Title</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Author</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Author">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="textarea-input">Content</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Category</label>
                            <div class="col-md-9">
                                <select id="select" name="select" class="form-control">
                                    <option value="0">GRAIN</option>
                                    <option value="1">PRICES</option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-multiple-input">Multiple File input</label>
                            <div class="col-md-9">
                                <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->