

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong>Elements
                </div>
                <div class="card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Username</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email-input">Email</label>
                            <div class="col-md-9">
                                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="password-input">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">First name</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="first name">
                            </div>
                        </div>
                        
                         <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Last name</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="last name">
                            </div>
                        </div>
                        
                         <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Phone</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="phone">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Select role</label>
                            <div class="col-md-9">
                                <select id="select" name="select" class="form-control">
                                    <option value="0">ADMIN</option>
                                    <option value="1">TRADER</option>
                                    <option value="2">TRANSPORTER</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-input">Avatar</label>
                            <div class="col-md-9">
                                <input type="file" id="file-input" name="file-input">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

   